@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: Roboto, serif;
  text-align: center;
  background: rgba(31, 30, 30, 0.89);
}

header {
  height: 100vh;
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
  color: white;
}
header .head-container {
  max-width: 1100px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
header h1 {
  text-transform: uppercase;
}
header nav {
  height: 12vh;
  display: grid;
  grid-template-columns: 10% 82% 8%;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
header nav .logo {
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.7rem;
  text-transform: uppercase;
  padding: 0 30px;
}
header nav ul li {
  cursor: pointer;
}
header nav .media-container {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
}
header nav .media-container i {
  transition: 0.2s;
  cursor: pointer;
}
header nav .media-container i:hover {
  transform: scale(1.3);
}
header .header-container div {
  margin-top: -150px;
}
header .header-container div h2 {
  font-size: 3rem;
  font-weight: 100;
}
header .header-container div h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  margin-top: -28px;
}
header .header-container div img {
  height: 27px;
  margin: 32px 0;
}
header .header-container div h6 {
  font-size: 0.75rem;
  letter-spacing: 6px;
  font-weight: 100;
}

main .presentaion {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  background: #e9e6e6;
}
main .presentaion .pres-container {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed rgba(126, 51, 3, 0.8705882353);
}
main .presentaion .pres-container h2 {
  color: rgb(166, 114, 69);
  font-size: 2rem;
  font-weight: 500;
}
main .presentaion .pres-container h3 {
  margin-top: 12px;
}
main .presentaion .pres-container img {
  margin: 26px;
}
main .presentaion .pres-container img:nth-of-type(1) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}
main .presentaion .pres-container h4 {
  font-weight: 100;
}
main .presentaion .pres-container h5 {
  color: rgb(182, 182, 182);
  font-size: 0.7rem;
}
main .presentaion .img-container {
  background: url(../img/store-01.jpg) center/cover;
  height: 100%;
}
main .menu-list-container {
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}
main .menu-list-container:after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  left: 50%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  bottom: -330px;
  transform: translate(-50%, -50%);
}
main .menu-list-container h2 {
  padding: 60px 0 30px;
  font-size: 2rem;
  font-weight: 500;
  color: rgb(166, 114, 69);
}
main .menu-list-container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
  text-transform: capitalize;
}
main .menu-list-container ul li {
  border-bottom: 1px solid rgb(182, 182, 182);
  padding-bottom: 8px;
}
main .menu-list-container .menu_box-container {
  background: #eee;
  color: rgba(31, 30, 30, 0.89);
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 4px solid rgb(166, 114, 69);
  padding: 15px 0;
  display: grid;
  grid-template-columns: 50% 50%;
  z-index: 1000;
  position: relative;
}
main .menu-list-container .menu_box-container .box-container {
  display: grid;
  grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed rgb(182, 182, 182);
  padding: 30px 0;
  margin: 0 20px;
}
main .menu-list-container .menu_box-container .box-container img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  align-self: center;
}
main .menu-list-container .menu_box-container .box-container .menu-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
  height: 100%;
}
main .menu-list-container .menu_box-container .box-container .menu-container h3 {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgba(31, 30, 30, 0.89);
  font-weight: bold;
  margin-bottom: 5px;
}
main .menu-list-container .menu_box-container .box-container > p {
  color: rgb(166, 114, 69);
  font-weight: 600;
  display: grid;
  align-items: center;
  font-size: 1.1rem;
  height: 100%;
}
main .reservation {
  padding: 100px 15px 65px;
  color: white;
}
main .reservation .reservation-form-container {
  display: grid;
  grid-template-columns: 30% 70%;
  background: white;
  max-width: 1050px;
  margin: 0 auto;
}
main .reservation .reservation-form-container .open-container {
  padding: 24px;
  background: black;
}
main .reservation .reservation-form-container .open-container .hours-container {
  border: 1px dashed grey;
  padding: 20px 0;
}
main .reservation .reservation-form-container .open-container .hours-container h3 {
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
main .reservation .reservation-form-container .open-container .hours-container h4 {
  margin-top: -10px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}
main .reservation .reservation-form-container .open-container .hours-container img {
  margin-top: 25px;
}
main .reservation .reservation-form-container .open-container .hours-container h5 {
  text-transform: uppercase;
  color: rgb(166, 114, 69);
  font-size: 1.1rem;
  margin: 38px 0 12px;
}
main .reservation .reservation-form-container .open-container .hours-container p {
  font-style: 0.85rem;
}
main .reservation .reservation-form-container .form-info-container {
  padding: 30px 0;
}
main .reservation .reservation-form-container .form-info-container h2 {
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(166, 114, 69);
}
main .reservation .reservation-form-container .form-info-container h3 {
  color: black;
  margin-top: -18px;
  font-size: 1.8rem;
}
main .reservation .reservation-form-container .form-info-container img {
  height: 25px;
  margin: 25px;
}
main .reservation .reservation-form-container .form-info-container .form_reservation-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
  max-width: 1000px;
}
main .reservation .reservation-form-container .form-info-container .form_reservation-container > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
}
main .reservation .reservation-form-container .form-info-container button {
  border: none;
  border-radius: 50px;
  background: black;
  color: white;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
main .reservation .reservation-form-container .form-info-container button:hover {
  transform: translateX(3px);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
}/*# sourceMappingURL=index.css.map */