main {
  .presentaion {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    background: #e9e6e6;

    .pres-container {
      margin: 15px;
      padding: 30px 15px;
      border: 1px dashed #7e3303de;

      h2 {
        color: rgb(166, 114, 69);
        // font-family: $font1;
        font-size: 2rem;
        font-weight: 500;
      }

      h3 {
        margin-top: 12px;
        // font-family: $font2;
      }
      img {
        margin: 26px;
      }
      img:nth-of-type(1) {
        height: 70px;
        border-radius: 150px;
        margin-bottom: 8px;
      }
      h4 {
        font-weight: 100;
        // font-family: $font2;
      }
      h5 {
        color: rgb(182, 182, 182);
        font-size: 0.7rem;
      }
    }
    .img-container {
      background: url(../img/store-01.jpg) center/cover;
      height: 100%;
    }
  }
  .menu-list-container {
    color: #eee;
    padding-bottom: 100px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      height: 620px;
      width: 100%;
      left: 50%;
      background: url(../img/bg-menu-01.jpg) center/cover;
      bottom: -330px;
      transform: translate(-50%, -50%);
    }
    h2 {
      padding: 60px 0 30px;
      font-size: 2rem;
      font-weight: 500;
      color: rgb(166, 114, 69);
      //   font-family: $font1;
    }
    ul {
      //   @include alignChildren(space-around);
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
      margin: 30px auto;
      min-width: 500px;
      text-transform: capitalize;

      li {
        border-bottom: 1px solid rgb(182, 182, 182);
        padding-bottom: 8px;
      }
    }
    .menu_box-container {
      background: #eee;
      color: rgba(31, 30, 30, 0.89);
      width: 85%;
      max-width: 800px;
      margin: 0 auto;
      border-top: 4px solid rgb(166, 114, 69);
      padding: 15px 0;
      display: grid;
      grid-template-columns: 50% 50%;
      z-index: 1000;
      position: relative;

      .box-container {
        display: grid;
        grid-template-columns: 25% 60% 15%;
        border-bottom: 1px dashed rgb(182, 182, 182);
        padding: 30px 0;
        margin: 0 20px;

        img {
          border-radius: 50px;
          object-fit: cover;
          width: 100%;
          align-self: center;
        }
        .menu-container {
          text-align: left;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0 10px;
          height: 100%;

          h3 {
            text-transform: uppercase;
            font-size: 0.8rem;
            color: rgba(31, 30, 30, 0.89);
            font-weight: bold;
            margin-bottom: 5px;
          }
        }
        > p {
          color: rgb(166, 114, 69);
          font-weight: 600;
          display: grid;
          align-items: center;
          font-size: 1.1rem;
          height: 100%;
        }
      }
    }
  }
  .reservation {
    padding: 100px 15px 65px;
    color: white;

    .reservation-form-container {
      display: grid;
      grid-template-columns: 30% 70%;
      background: white;
      max-width: 1050px;
      margin: 0 auto;

      .open-container {
        padding: 24px;
        background: black;

        .hours-container {
          border: 1px dashed grey;
          padding: 20px 0;

          h3 {
            // font-family: $font1;
            font-size: 2.5rem;
            font-weight: 100;
            color: rgb(166, 114, 69);
          }

          h4 {
            // font-family:$font2;
            margin-top: -10px;
            letter-spacing: 2px;
            font-size: 1.3rem;
          }
          img {
            margin-top: 25px;
          }
          h5 {
            text-transform: uppercase;
            color: rgb(166, 114, 69);
            // font-family: $font2;
            font-size: 1.1rem;
            margin: 38px 0 12px;
          }
          p {
            font-style: 0.85rem;
          }
        }
      }
      .form-info-container {
        // @include childCenter;
        padding: 30px 0;

        h2 {
          // font-family:$font1;
          font-size: 2.5rem;
          font-weight: 100;
          color: rgb(166, 114, 69);
        }
        h3 {
          color: black;
          margin-top: -18px;
          // font-family: $font2;
          font-size: 1.8rem;
        }
        img {
          height: 25px;
          margin: 25px;
        }
        .form_reservation-container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          margin-bottom: 30px;
          max-width: 1000px;

          > * {
            padding: 10px 0;
            margin: 10px;
            background: none;
            outline: none;
            border: none;
            border-bottom: 1px solid grey;
          }
        }
        button {
          border: none;
          border-radius: 50px;
          background: black;
          color: white;
          padding: 16px 34px;
          letter-spacing: 4px;
          font-weight: 700;
          cursor: pointer;
          transition: 0.2s;

          &:hover {
            transform: translateX(3px);
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
          }
        }
      }
    }
  }
}
